@font-face {
    font-family: "New Order Bold";
    src: url("../../public/fonts/New Order Bold.otf") format("opentype");
}

@font-face {
    font-family: "New Order Light";
    src: url("../../public/fonts/New Order Light.otf") format("opentype");
}

@font-face {
    font-family: "New Order Regular";
    src: url("../../public/fonts/New Order Regular.otf") format("opentype");
}

@font-face {
    font-family: "New Order Medium";
    src: url("../../public/fonts/New Order Medium.otf") format("opentype");
}

@font-face {
    font-family: "New Order SemiBold";
    src: url("../../public/fonts/New Order SemiBold.otf") format("opentype");
}
