body {
    background-color: #FFF7ED;
}
.webkit-center {
    text-align: -webkit-center;
}
.inline-size-webkit-available {
    inline-size: -webkit-fill-available;
}
.chef-overlay:after {
    content: "";
    width: 100%;
    height: 26rem;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: inherit;
    background-color: #689733;
    border-radius: 20px;
    opacity: 85%;
}
.fulltext {
    @apply text-8xl text-brown mt-32 mb-32;
    font-family: "New Order Bold";
}
.fulltext span {
    font-family: "New Order Regular";
}

.fulltext {
    animation: fulltext 50s infinite linear;
}
@keyframes fulltext {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-500%);
    }
}

.middle-info .middle-info--bg > img {
    width: calc(100% + 9rem);
    right: -9rem
}

@media screen and (max-width: 480px) {
    .middle-info .middle-info--bg > img {
        width: calc(38% + 9rem);
        right: -9rem
    }
}

.simpleParallax {
    height: 100%;
    width: 100%;
}

.simpleParallax:has(.hero), .simpleParallax:has(.home-recipe-hero) {
    border-radius: 15px;
}
.simpleParallax:has(.bottom-hero) {
    border-radius: 15px;
}


.bottom-arrow {
}

.bottom-arrow:after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 30px solid #fff7ed;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    rotate: 180deg;
}
.bottom-arrow--down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@keyframes scatter {
    0% {
        transform: translateY(-1250px) translateX(-1600px);
        opacity: 1;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}

@keyframes hero-chef {
    0% {
        transform: translateY(-200px) translateX(400px);
        opacity: 1;
    }
    50% {
        transform: translateY(0) translateX(-20px);
    }
    100% {
        transform: translateY(0) translateX(-20px);
    }
}

.hero-chef {
    animation: hero-chef 2s normal forwards;
}

.piece {
    position: absolute;
    animation: scatter 1s normal forwards;
}
