body {
    background-color: #FFF7ED;
}
.webkit-center {
    text-align: -webkit-center;
}
.inline-size-webkit-available {
    inline-size: -webkit-fill-available;
}
.chef-overlay:after {
    content: "";
    width: 100%;
    height: 26rem;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: inherit;
    background-color: #689733;
    border-radius: 20px;
    opacity: 85%;
}
.fulltext {
    @apply text-8xl text-brown mt-32 mb-32;
    font-family: "New Order Bold";
}
.fulltext span {
    font-family: "New Order Regular";
}

.fulltext {
    animation: fulltext 50s infinite linear;
}
@keyframes fulltext {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-500%);
    }
}

.middle-info .middle-info--bg > img {
    width: calc(100% + 9rem);
    right: -9rem
}

@media screen and (max-width: 480px) {
    .middle-info .middle-info--bg > img {
        width: calc(38% + 9rem);
        right: -9rem
    }
}
